:root {
  /* Fundo (camadas) */
  --bg-primary: #18181b;     /* body */
  --bg-secondary: #27272a;   /* header */
  --bg-tertiary: #3f3f46;    /* botões / cards */

  /* Texto */
  --text-primary: #f4f4f5;
  --text-secondary: #a1a1aa;

  /* Accent */
  --accent: #3b82f6;
  --accent-hover: #2563eb;
}


/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Corpo */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}


/* Header */
header{
  background-color: var(--bg-secondary);
  padding: 16px 0;
}


/* Conteúdo do header */
.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1500px;
  margin: 0 auto;

  font-family: 'Times New Roman', Times, serif;
  color: var(--text-primary);
}


/* Logo + info */
.header__identifica{
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nome{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.descricao{
  font-size: 13px;
  color: var(--text-secondary);
}


/* Menu */
.header__menu {
  display: flex;
  gap: 65px;
}

.header__menu a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 18px;

  background-color: var(--bg-tertiary);
  border-radius: 30px;
  padding: 9px 13px;

  transition: 0.2s;
}

/* Hover */
.header__menu a:hover {
  background-color: var(--accent);
  color: #fff;
  transform: translateY(-3px);
}